body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background: #F4F0F0;
    color: #000;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background:lightyellow;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    font-family: 'Lobster One', cursive;
    font-size: 24px;
}
.logo:hover{
color: rgb(3, 3, 3);
    font-family: cursive;
    font-size: 30px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 nav ul li a:hover{
    color: rgb(3, 3, 3);
    font-family: cursive;
    font-size: 26px;
    text-decoration: underline;
}

.hero {
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
background: linear-gradient(to right, #E6E9FF, #D4D7FE);
}
.content {
max-width: 500px;
}
.content h2 {
font-size: 36px;
}
.content span {
color: #3A3DE4;
}
.hire-btn {

border-radius: 4px;
background-color: #234565;
border: none;
color: #fff;
text-align: center;
font-size: 22px;
padding: 16px;
width: 220px;
transition: all 0.5s;
cursor: pointer;
margin: 36px;
box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

button:after {
content: '»';
position: absolute;
opacity: 0;  
top: 14px;
right: -20px;
transition: 0.5s;
}

button:hover{
padding-right: 24px;
padding-left:8px;
}

button:hover:after {
opacity: 1;
right: 10px;
}



.image-container img {
width: 500px;
height: 450px;
border-radius: 20px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn {
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}

/* Green */
.about {
border-color: #04AA6D;
color: green;
}

.about:hover {
background-color: #04AA6D;
color: white;
}

/*for technical section*/
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.tech {
    background-color: #debf0f;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 30px;
    border: none;
}

.tech:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
    font-size: 26px;
}

.skills {
    background-color: #b0688b;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.skills-content {
    flex: 1;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.skills p, .skills ul, .skills ol {
    font-size: 20px;
    font-weight: bold;
}

.skills-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.skills-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 300px; /* Adjust size as needed */
}
@media (max-width: 768px) {
.skills {
flex-direction: column;
text-align: center;
}
.skills-image {
justify-content: center;
margin-top: 20px;
}
} 

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.tech {
    background-color: #debf0f;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 30px;
    border: none;
}

.tech:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
    font-size: 26px;
}

.skills {
    background-color: #b0688b;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.skills-content {
    flex: 1;
    padding: 20px;
    color:black;
    font-size: 20px;
}

.skills p, .skills ul, .skills ol {
    font-size: 20px;
    font-weight: bold;
}

.skills-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.skills-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 500px; /* Adjust size as needed */
}





.education-section {
display: flex;
align-items: center;
justify-content: space-between;
background-color: lightgrey;
padding: 20px;
border-radius: 10px;
}

.education-content {
width: 60%;
color: black;
}

.education-content h2 {
font-size: 2em;
margin-bottom: 10px;
}

.education-item {
margin-bottom: 20px;
}

.education-item h3 {
font-size: 1.5em;
margin-bottom: 5px;
}

.education-item p {
font-size: 1.1em;
}

.education-image {
width: 35%;
text-align: right;
}

.education-image img {
max-width: 100%;
height: auto;
border-radius: 10px;
}
.btn {
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}

/* Green */
.edu {
border-color: #aa045d;
color: rgb(176, 8, 56);
}

.edu:hover {
background-color: #4604aa;
color: rgb(246, 9, 9);
}

.portfolio {
    max-width: 1200px;
    margin: auto;
}
.portfolio h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.project {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.project:hover {
    transform: scale(1.05);
}
.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.project-content {
    padding: 15px;
}
.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.project p {
    font-size: 1rem;
    color: #555;
}
.btn {
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 26px;
cursor: pointer;
}

/* Green */
.pr {
border-color:#F68B1D;
color: black;
}

.pr:hover {
background-color: bisque;
color: black;
}

.blog {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 50px 20px;
margin: 20px;
background: white;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blog img {
width: 80%;
max-width: 600px;
border-radius: 10px;
}
.content {
margin-top: 20px;
}
h2 {
font-size: 2em;
margin-bottom: 10px;
}
p {
font-size: 1.1em;
color:black;
margin-bottom: 20px;
}
.blog {
text-decoration: none;
background: #067cfa;
color: white;
padding: 10px 20px;
border-radius: 5px;
transition: 0.3s ease;
}
.blog:hover {
background: palevioletred;
transform: scale(1.05);
}
.btn {
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}

/* Green */
.bg {
border-color: #aa045d;
color: rgb(176, 8, 56);
}

.bg:hover {
background-color: powderblue;
color: black;
}

.contact {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 50px 20px;
margin: 20px;
background: lightcyan;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact img {
width: 20%;
max-width: 180px;
border-radius: 10px;
}
.content {
margin-top: 20px;
}
.btn {
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}

/* Green */
.cub {
border-color: #aa045d;
color: rgb(176, 8, 56);
}

.cub:hover {
background-color: powderblue;
color: black;
}

p {
font-size: 1.1em;
color: black;
margin-bottom: 20px;
}
.contact-form {
display: flex;
flex-direction: column;
width: 80%;
max-width: 500px;
}
.contact-form input, .contact-form textarea {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 5px;
}
.contact-form textarea {
height: 100px;
resize: none;
}
.btn {
text-decoration: none;
background: peru;
color: black;
padding: 10px 20px;
border-radius: 5px;
transition: 0.3s ease;
border: none;
cursor: pointer;
}
.btn:hover {
background: peachpuff;
transform: scale(1.05);
}
footer {
background-color: #900C3F;
color: white;
bottom: 0;
width: 98.6vw;
font-size: 16px;
}

.copyright {
padding: 0.3em 1em;
background-color: #25262e;
}
.footer-menu{
float: left;
margin-top: 10px;
}
.footer-menu a{
color: #cfd2d6;
padding: 6px;
text-decoration: none;
}
.footer-menu a:hover, .social i:hover{
color: #c7940a;
}
.copyright p {
font-size: 0.9em;
text-align: right;
}

@media screen and (max-width: 850px) {
.row.primary {
grid-template-columns: 1fr;
}
}
